# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [11]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter='\t')

### Step 3. Assign it to a variable called chipo.

In [20]:
chipo.head(10)
#chipo.shape

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [26]:
chipo.dtypes
chipo["item_price"]=chipo["item_price"].astype(str)
chipo["item_price"]=chipo["item_price"].str.replace("$","").astype(float)
chipo.head(10)
itemGreater10=chipo[chipo["item_price"]>10]
itemGreater10.shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
my_dataframe=chipo[["item_name","item_price"]]
my_dataframe.head(10)

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98
5                           Chicken Bowl       10.98
6                          Side of Chips        1.69
7                          Steak Burrito       11.75
8                       Steak Soft Tacos        9.25
9                          Steak Burrito        9.25

### Step 6. Sort by the name of the item

In [30]:
my_dataframe.sort_values("item_name",ascending=True).head(10)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [34]:
chipo.sort_values("item_price",ascending=False).head(10)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],26.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [38]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [48]:
chipo[(chipo["item_name"]=="Canned Soda") & (chipo["quantity"]>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64